<div class="login-container">
  <div class="login-box">
    <h2>Registro al Sistema</h2>
    <form (ngSubmit)="register()" #registerForm="ngForm">
      <div class="input-group">
        <input
          id="username"
          [(ngModel)]="username"
          name="username"
          type="text"
          required
          pattern="^[a-zA-Z0-9]*$"
          (keypress)="validateUsername($event)"
          maxlength="10"
          #usernameInput="ngModel"
          placeholder="Introduce Usuario"
          [ngClass]="{'input-error': usernameInput.invalid && usernameInput.touched}"
        />
        <div *ngIf="usernameInput.invalid && usernameInput.touched" class="error-message">
          <span *ngIf="usernameInput.errors?.['required']">ACCESS_ID_REQUIRED</span>
          <span *ngIf="usernameInput.errors?.['pattern']">INVALID_CHARACTER_SEQUENCE</span>
        </div>
      </div>

      <div class="input-group">
        <input
          id="password"
          [(ngModel)]="password"
          name="password"
          type="password"
          required
          pattern="^[a-zA-Z0-9]*$"
          (keypress)="validatePassword($event)"
          maxlength="8"
          minlength="8"
          #passwordInput="ngModel"
          placeholder="Introduce Contraseña"
          [ngClass]="{'input-error': passwordInput.invalid && passwordInput.touched}"
        />
        <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error-message">
          <span *ngIf="passwordInput.errors?.['required']">ENCRYPTION_KEY_REQUIRED</span>
          <span *ngIf="passwordInput.errors?.['minlength'] || passwordInput.errors?.['maxlength']">
            INVALID_KEY_LENGTH::8
          </span>
        </div>
      </div>

      <button type="submit" class="login-button" [disabled]="registerForm.invalid">
        Registro
      </button>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <a (click)="goToLogin()">[ Regreso al portal de logeo]</a>
    </form>
  </div>
</div>